<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性方式</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="price"/>
    <input type="text" v-model="num"/>
    总价{{computedSum}}
</div>
<script src="lib/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            price:100,
            num:1
        },
        computed:{
            computedSum(){
                let sum = 0;
                if(this.price * this.num < 1000){
                    sum = this.price * this.num + 20
                }else{
                    sum = this.price * this.num;
                }
                return sum;
            }
        }

    })
</script>
</body>
</html>